.product {
  list-style: none;
  border: 2px dashed #f0f8ff;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.product img {
  width: 90px;
  height: 120px;
  margin-top: 5px;
}

.buttonAdd {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  background-color: rgb(192, 0, 0);
  border: 0px;
  border-radius: 10px;
  font-size: 20px;
  color: #daa520;
}

@media screen and (min-width: 769px) {
  .product {
    width: 120px;
  }
}
